.jumbotron
  %h2 Profile page

  %h3 
    %small Last name: 
    =user.lastname
  %h3
    %small First name:
    =user.firstname

  %h3
    %small Email:
    = user.email
  %br
  %p=link_to 'All user reviews', user_reviews_path

%h4= reviews.size<=5 ? "Recent user reviews" : "All user reviews"
%ul
  -reviews.each do |review|
    .panel-body
      %li="#{review.content}   #{review.created_at.strftime('%Y-%m-%d')}"
