/*%p= review.content
/%p
/  %b= review.rating
/  %em= review.author

.panel-heading
  %h3.panel-title 
    = review.author 
    %small rating:
    %span.badge= review.rating
.panel-body
  =review.content
