.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li.active
      =link_to 'Categories', categories_path
    %li= link_to 'Profile page', user_profile_path
    %li= link_to 'About project', 'https://www.facebook.com/events/1015081248517734/?context=create&previousaction=create&source=49&sid_create=1709292620&utm_source=Workshops&utm_campaign=f843e125a0-Workshops_task_november_Warsaw10_31_2014&utm_medium=email&utm_term=0_b83132574b-f843e125a0-103463949'
    %li= link_to 'Log out',  destroy_user_session_path, :method => :delete
