/ %ul.class_name#id_name
%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    %li= link_to 'MY PROFILE', user_profile_path
    %li= link_to 'LOG OUT', destroy_user_session_path, :method => :delete
  - else
    %li= link_to 'SIGN IN', new_user_session_path
    %li= link_to 'SIGN UP', new_user_registration_path


